@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">¡Bienvenido!</h1>
    <p>Entra al listado haciendo click en el enlace.</p>
    @Html.ActionLink("Listado de personas", "Index", "Persona")
</div>
